.idea/*
!.idea/scopes
!.idea/dictionaries
!.idea/runConfigurations
!.idea/inspectionProfiles
!.idea/typescript-compiler.xml
node_modules/
node-launcher*.js
node-launcher*.js.map
src/**/*.js
src/**/*.js.map
*.js
*.js.map
spec/**/*.js
spec/**/*.js.map
*.zip
**/*.no-git.*
coverage/
junit.xml
/dist
/.serverless
.idea/

cdk/*.swp
cdk/package-lock.json
cdk/__pycache__
cdk/.pytest_cache
cdk/.env
cdk/.venv
cdk/*.egg-info
cdk/.cdk.staging
cdk/cdk.out
cdk.out
cdk.out/*
/dist

